/* make the background gradient for line at the top of the page
* looks like its changing colors but changing the background position
*/
@keyframes Header-moving-gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* When page content loads fade in and move up */
@keyframes App-fade-in-onload {
    0% {
        opacity: 0;
        transform: translateY(45px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* slide up the contact modal into view */
@keyframes Footer-contact-slideup {
	0%   { transform: translateY(120px); }
	100% { transform: translateY(0px); }
  }