:root {
    /* Colors */
    --black: #000000;
    --dodgerBlue: #1E90FF;
    --white: #FFFFFF;

    --color-base-font: hsla(0, 0%, 0%, 0.8);
    --color-dark: var(--black);
    --color-light: var(--white);
    --color-default-link: var(--dodgerBlue);
    --color-header-gradient: linear-gradient(to right, #00DBDE 0%, #FC00FF 100%);

    /* Break Points */
   --min-small-screen: 36em;
   --min-large-screen: 48em;

    /* Ratio on smaller screens */
    --ratio-for-small-screen: 1.2;
    --ratio-for-large-screen: 1.414;

    --base-font-size: 100%; /* 16px */
    --base-line-height: 1.5;
    --base-letter-spacing: 1px;
    --font-page-title: 44px;
    --font-page-title-letter-spacing: 1.2;

}

/* Media Queries */
@custom-media --maxwidth-tablet (width <= 980px);
@custom-media --maxwidth-phone (width <= 635px);