:root {
    /* Colors */
    --black: #000000;
    --darkTurquoise: #00DBDE;
    --dodgerBlue: #1E90FF;
    --montana: #3E3F3F;
    --shockingPink: #F708B4;
    --white: #FFFFFF;

    /* Colors to use in CSS */
    --color-base-font: hsla(0, 0%, 0%, 0.8);
    --color-dark: var(--black);
    --color-off-dark: var(--montana);
    --color-light: var(--white);
    --color-default-link: var(--dodgerBlue);
    --color-header-gradient: linear-gradient(to right, var(--darkTurquoise) 0%, var(--shockingPink) 100%);
    --color-fancy-link-gradient: linear-gradient(to right, var(--darkTurquoise)  0%, var(--dodgerBlue) 100%);
    --color-fancy-link-reverse-gradient: linear-gradient(to right, var(--dodgerBlue) 0%, var(--darkTurquoise) 100%);


    /* Font Sizes  */
    --font-size-ant: 0.75em; /* 12px */
    --font-size-cat: 0.875em; /* 14px */
    --font-size-base: 100%; /* 16px */
    --font-size-zebra: 1.438em; /* 23px */
    --font-size-trex: 2.75em; /* 44px */

    --line-height-base: 1.5;
    --letter-spacing-base: 1px;
}

/* Media Queries */
@custom-media --maxwidth-large-screen (width <= 48em);
@custom-media --maxwidth-small-screen (width <= 36em);