.About-profile-photo {
    width: 250px;
    border-radius: 50%;
    float: right;
    shape-outside: circle(50%);
}


@media (--maxwidth-small-screen) {
    .About-profile-photo {
        display: block;
        float: none;
        margin-bottom: 2rem;
        shape-outside: none;
    }
}