.About-profile-photo {
    width: 250px;
    border-radius: 48% 52% 38% 62% / 27% 28% 72% 73%;
    float: right;
    shape-outside: circle(45%);
    margin-top: -16px;
    margin-left: 20px;
}


@media (--maxwidth-small-screen) {
    .About-profile-photo {
        display: block;
        float: none;
        margin-bottom: 2rem;
        shape-outside: none;
    }
}
