html {
    font-family: 'Karla';
    color: var(--color-base-font);
    font-size: var(--base-font-size);
    line-height: var(--base-line-height);
    letter-spacing: var(--base-letter-spacing);
}

a {
    color: var(--color-default-link);
}

p {
    font-size: 23px;
    line-height: 1.6;
    font-weight: 400;
    letter-spacing: -0.3px;
    word-spacing: -0.1px;
    margin-bottom: 25px;
}

header,
footer {
    grid-column: 1 / 4;
}

article {
    margin: 50px 0 0 0;
    max-width: 1000px;
}

h2,
h3 {
    font-family: 'Lato';
    font-weight: 900;
    margin-bottom: 10px;
}

h2 {
    font-size: var(--font-page-title);
    line-height: var(--font-page-title-letter-spacing);
}

h3 {
    font-size: 22px;
}

.visually-hidden {
    position: absolute !important;
    white-space: nowrap;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    padding:0 !important;
    border:0 !important;
}

.App-grid {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: 1fr 65% 1fr;
    grid-template-rows: 80px 1fr 60px;
    grid-gap: 1em;
}

.App-animated-anchor {
    color: var(--color-dark);
    position: relative;

    &:hover,
    &:focus {
        outline: none;
        text-decoration: none;
    }

    /* Line under nav item - default hidden */
    &::before {
        position: absolute;
        bottom: -1px;
        left: 0;
        height: 1px;
        right: 0;
        content: '';
        transition: all .2s ease-in-out 0s;
        opacity: 0;
        background: #3E3F3F;
        transform: scaleX(0);
    }

    &:hover::before,
    &:focus::before {
        outline: none;
        opacity: 1;
        transform: scaleX(1);
    }
}

.App-fancy-anchor {
    position: relative;
    color: var(--color-dark);
    text-decoration: none;
    display: inline-block;
    padding: 0 5px;

    &::after,
    &::before {
        bottom: 5%;
        content: '';
        position: absolute;
        top: 5%;
        transition: .2s;
        width: 56%;
        z-index: -1;

    }

    &::after {
        left: 46%;
        opacity: .8;
        transform: translateY(4px);
        background-image: linear-gradient(to right, #4FACFE 0%, #00F2FE 100%);
    }

    &::before {
        left: 0%;
        opacity: .5;
        transform: translateY(-4px);
        background-image: linear-gradient(to right, #00F2FE 0%, #4FACFE 100%);
    }

    &:focus,
    &:hover {
        &::after,
        &::before {
            text-decoration: none;
            transform: translateY(0);
            opacity: 1;
        }
    }
}

.App-page-content-fadein {
    animation-name: fadeInPageLoad;
    animation-fill-mode: both;
    animation-duration: 1s;
}

@keyframes fadeInPageLoad {
    0% {
        opacity: 0;
        transform: translateY(45px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}