html {
    font-family: 'Karla';
    color: var(--color-base-font);
    font-size: var(--font-size-base);
    line-height: var(--line-height-base);
    letter-spacing: var(--letter-spacing-base);
}

a {
    color: var(--color-default-link);
}

p {
    font-size: var(--font-size-zebra);
    font-weight: 400;
    letter-spacing: -0.3px;
    word-spacing: -0.1px;
    margin-bottom: 25px;
}

header,
footer {
    grid-column: 1 / 4;
}

article {
    margin: 50px 0 0 0;
    max-width: 1000px;
}

h2,
h3 {
    font-family: 'Lato';
    font-weight: 900;
    margin-bottom: 10px;
}

h2 {
    font-size: var(--font-size-trex);
}

h3 {
    font-size: var(--font-size-zebra);
}

/* Hide content from sighted users but make it visible to screen readers */
.visually-hidden {
    position: absolute !important;
    white-space: nowrap;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    padding:0 !important;
    border:0 !important;
}

.App-grid {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: 1fr 65% 1fr;
    grid-template-rows: 80px 1fr 60px;
    grid-gap: 1em;
}

.App-animated-anchor {
    color: var(--color-dark);
    position: relative;

    &:hover,
    &:focus {
        outline: none;
        text-decoration: none;
    }

    /* Line under nav item - default hidden */
    &::before {
        position: absolute;
        bottom: -1px;
        left: 0;
        height: 1px;
        right: 0;
        content: '';
        transition: all .2s ease-in-out 0s;
        opacity: 0;
        background: var(--color-off-dark);
        transform: scaleX(0);
    }

    &:hover::before,
    &:focus::before {
        outline: none;
        opacity: 1;
        transform: scaleX(1);
    }
}

.App-fancy-anchor {
    position: relative;
    display: inline-block;
    padding: 0 5px;
    color: var(--color-dark);
    text-decoration: none;

    /* have a block after and before a little off center
    * on hover have them join up */
    &::after,
    &::before {
        z-index: -1;
        position: absolute;
        top: 5%;
        bottom: 5%;
        width: 56%;
        content: '';
        transition: .2s;
    }

    &::before {
        left: 0%;
        opacity: .5;
        transform: translateY(-4px);
        background-image: var(--color-fancy-link-gradient);
    }

    &::after {
        left: 46%;
        opacity: .8;
        transform: translateY(4px);
        background-image: var(--color-fancy-link-reverse-gradient);
    }

    &:focus,
    &:hover {
        &::after,
        &::before {
            text-decoration: none;
            transform: translateY(0);
            opacity: 1;
        }
    }
}

.App-page-content-fadein {
    animation-name: App-fade-in-onload;
    animation-fill-mode: both;
    animation-duration: 1s;
}
