.Contact {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 60%;
    margin: auto;
    grid-gap: 20px;
}

.Contact-container-header {
    font-size: 17px;
    margin: 0 0 20px 0;
}

.Contact-list {
    margin: auto;
    display: flex;
    justify-content: flex-start;
}

.Contact-list-item:not(last-child) {
    margin-right: 20px;
}

.Contact-icon {
    width: 30px;
    transition: all .2s ease-in;
    fill: #000000;
}

.Contact-link {
    &:hover,
    &:focus {
        outline: none;
        text-decoration: none;

        & .Contact-icon-email {fill: #269539;}
        & .Contact-icon-gmail {fill: #D14836;}
        & .Contact-icon-outlook {fill: #0072C6;}
        & .Contact-icon-yahoo {fill: #440099;}
        & .Contact-icon-twitter {fill: #1DA1F2;}
        & .Contact-icon-github {fill: #C8C9CB;}
        & .Contact-icon-apple {fill: #999999;}
        & .Contact-icon-linkedin {fill: #0077B5;}
        & .Contact-icon-codepen {fill: #26BFFC;}
        & .Contact-icon-untappd {fill: #FFC000;}
    }
}
