.Contact {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
    grid-gap: 2em;
    width: 60%;
    margin: auto;
}

.Contact-container-header {
    margin: 0 0 1em 0;
}

.Contact-list {
    display: flex;
    justify-content: flex-start;
    margin: auto;
}

.Contact-list-item:not(last-child) {
    margin-right: 1em;
}

.Contact-icon {
    width: 30px;
    fill: var(--color-dark);
    transition: all .2s ease-in;
}

.Contact-link {
    &:hover,
    &:focus {
        outline: none;
        text-decoration: none;

        & .Contact-icon-apple {fill: var(--color-icon-apple);}
        & .Contact-icon-codepen {fill: var(--color-icon-codepen);}
        & .Contact-icon-email {fill: var(--color-icon-email);}
        & .Contact-icon-github {fill: var(--color-icon-github);}
        & .Contact-icon-gmail {fill: var(--color-icon-gmail);}
        & .Contact-icon-instagram {fill: var(--color-icon-instagram);}
        & .Contact-icon-linkedin {fill: var(--color-icon-linkedin);}
        & .Contact-icon-outlook {fill: var(--color-icon-outlook);}
        & .Contact-icon-twitter {fill: var(--color-icon-twitter);}
        & .Contact-icon-untappd {fill: var(--color-icon-untappd);}
        & .Contact-icon-yahoo {fill: var(--color-icon-yahoo);}
    }
}

@media (--maxwidth-small-screen) {
    .Contact {
        display: block;
        width: 100%;
    }
}
