.Footer {
    position: relative;
    padding: 0 20px;
    font-size: var(--font-size-cat);
}

.Footer-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Footer-logo {
    width: 50px;
}

.Footer-contact-trigger {
    border: none;
    cursor: pointer;
}

.Footer-contact {
    overflow: hidden;
    position: fixed;
    bottom: 0;
    left: 0;
    transform: translateY(0px);
    z-index: 2;
    box-shadow: 1px 1px 10px #DDDDDD;
    padding: 40px;
    background-color: #FFFFFF;
    width: 100%;
    animation: contactSlideUp .2s ease-in;
}

.Footer-contact-close {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    font-size: var(--font-size-zebra);
    border: 1px solid #666666;
    border-radius: 50%;
    background-color: #FFFFFF;
    color: #666666;
    transition: all .2s ease;

    &:hover,
    &:focus {
        outline: none;
        background-color: #666666;
        color: #FFFFFF;
    }
}

@keyframes contactSlideUp {
  0%   { transform: translateY(120px); }
  100% { transform: translateY(0px); }
}