.Header {
    width: 100%;
    overflow: hidden;
    text-align: right;
    background-image: var(--color-header-gradient);
    background-size: 400% 400%;
    animation: Header-moving-gradient 5s ease infinite;
    transition: all .2s ease-in;
}

.Header-logo {
    z-index: 3;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 57px;
    height: 57px;
    padding-right: 2px;
    border-radius: 50%;
    font-size: var(--font-size-zebra);
    letter-spacing: -2px;
    background-color: var(--color-dark);
    color: var(--color-light);
    transition: all .2s ease-in;
}

.Header-logo-text {
    text-shadow: 1px 1px var(--color-dark), 2px 2px var(--color-hot);
}

.Header-logo-link {

    &:focus,
    &:hover {
        outline: none;

        & .Header-logo,
        & .Header-logo {
            border: 1px solid var(--color-hot);
        }

        &:hover .Header-logo-text::after {
            left: 0.8125rem;
            font-size: var(--font-size-base);
            font-weight: 500;
        }
    }
}

a.Header-logo-link {
    background: none;
}

.Header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-light);
    margin-top: .3rem;
    padding: .625rem 2rem;
}

.Header-nav-list {
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-gap: .1rem;
    text-align: left;
    font-size: var(--font-size-base);

    & li:not(:last-child)::after {
        content: '/';
        margin: 0 .3rem;
        opacity: .5;
    }

}

@media (--maxwidth-small-screen) {

    .Header-nav {
        padding: .625rem .5rem;
        flex-direction: column;
    }

    .Header-logo-link {
        margin-bottom: .5rem;
    }

    .Header-nav-list {
        font-size: var(--font-size-cat);
    }
}