.Header {
    width: 100%;
    overflow: hidden;
    text-align: right;
    background-image: var(--color-header-gradient);
    background-size: 400% 400%;
    animation: Header-moving-gradient 5s ease infinite;
    transition: all .2s ease-in;
}

.Header-logo {
    z-index: 3;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 57px;
    height: 57px;
    padding-right: 2px;
    border-radius: 50%;
    font-size: var(--font-size-zebra);
    letter-spacing: -2px;
    background-image: var(--color-logo-gradient);
    background-color: var(--color-dark);
    color: var(--color-light);
    transition: all .2s ease-in;
}

.Header-logo-text {
    &::after {
        z-index: -1;
        position: absolute;
        content: "MK";
        top: 14px;
        left: 14px;
        font-weight: 800;
        color: var(--color-hot);
        transition: all .2s ease-in;
    }
}

.Header-logo-link {
    &:focus,
    &:hover {
        outline: none;

        & .Header-logo,
        & .Header-logo {
            border: 1px solid var(--color-hot);
        }

        &:hover .Header-logo-text::after {
            left: 13px;
            font-size: var(--font-size-base);
            font-weight: 500;
        }
    }
}


.Header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-light);
    margin-top: 6px;
    padding: 10px 5px;
}

.Header-nav-item {
    display: inline-block;
    font-size: var(--font-size-base);
    margin-right: 5px;
}

.Header-nav-item:not(:last-child) {

    &::after {
        content: '/';
        margin: 0 5px;
        opacity: .5;
    }
}

@media (--maxwidth-small-screen) {
    .Header-nav-item {
        font-size: var(--font-size-cat);
    }
}