.Home-hero {
    margin: 100px auto;
    width: 50%;
}

.page-title {
    font-family: 'Lato';
    font-size: 44px;
    line-height: 1.2;
    font-weight: 900;
    margin-bottom: 10px;
}

.Home-hero-description {
    font-size: 25px;
    line-height: 1.6;
    font-weight: 400;
    letter-spacing: -0.3px;
    word-spacing: -0.1px;
    margin-bottom: 25px;
}