.Home-hero-description {
    font-size: 25px;
    line-height: 1.6;
    font-weight: 400;
    letter-spacing: -0.3px;
    word-spacing: -0.1px;
    margin-bottom: 25px;
}

.Home-tech-stack-list-item {
    display: inline-block;
    margin-right: 10px;

    &:not(:last-child)::after {
        content: ',';
    }
}