.Stats-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    margin-bottom: 2rem;
    
    & dl {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    
    & dt {
        font-size: 1.75em;
        line-height: 1;
        font-weight: 800;
        background-color: #2A2929;
        color: #FFFFFF;
        padding: 20px;
        height: 100px;
        width: 100px;
        border-radius: 50%;
    }
}


@media (--maxwidth-small-screen) {
    .Stats-list {
        grid-template-columns: repeat(2, 1fr);
    }
}
