.Work-tech-stack-list {
    margin-bottom: 3rem;
}

.Work-tech-stack-list-item {
    display: inline-block;
    margin-right: 1rem;
    font-size: var(--font-size-zebra);

    &:not(:last-child)::after {
        content: ',';
    }
}

.Work-skills-list {
    display: flex;
    align-items: left;
    justify-content: space-between;
    margin-bottom: 3rem;
    max-width: 800px;
}

.Work-skills-list-col-header {
    opacity: .9;
    font-size: var(--font-size-cat);
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-bottom: 1px solid var(--color-off-dark);
}

.Work-skills-list-col-list-item {

    font-size: var(--font-size-cat);
    margin: .5rem 0;

    /* Checkmark in square */
    &::before {
        content: '\2713'; /* check */
        margin-right: 5px;
        padding: 0 3px;
        opacity: .8;
        border: 1px solid var(--color-off-dark);
        filter: brightness(3);
        font-size: var(--font-size-ant);
    }
}

.Work-history-title {
    margin-bottom: 0;
}

.Work-history-sub-title {
    margin-bottom: 1rem;
    opacity: .8;
}

@media (--maxwidth-small-screen) {
    .Work-skills-list {
        flex-direction: column;
    }

    .Work-skills-list-item {
        margin-bottom: 2rem;
    }
}