.Work-tech-stack-list {
    margin-bottom: 40px;
}

.Work-tech-stack-list-item {
    display: inline-block;
    margin-right: 10px;
    font-size: 23px;
    line-height: 1.6;

    &:not(:last-child)::after {
        content: ',';
    }
}

.Work-skills-list {
    display: flex;
    align-items: left;
    justify-content: space-between;
    margin-bottom: 40px;
}

.Work-skills-list-col-header {
    font-weight: 800;
    text-transform: uppercase;
    opacity: .9;
    letter-spacing: 2px;
    font-size: 13px;
    border-bottom: 1px solid #7E7C7C;
}

.Work-skills-list-col-list-item {
    margin: 10px 0;

    &::before {
        content: '\2713';
        margin-right: 5px;
        opacity: .8;
        border: 1px solid #DFDFDF;
        padding: 0 3px;
        font-size: 12px;
    }
}


.Work-history-title {
    margin-bottom: 0;
}

.Work-history-sub-title {
    margin-bottom: 10px;
    opacity: .8;
}
